###############################################################################
#                                                                             #
# HTTP port that will be used to access APEX admin page                       #
# Default : 8080							      #	
#                                                                             #
###############################################################################
ORACLE_HTTP_PORT=<%= node['oracle_xe']['http_port'] %>

###############################################################################
#                                                                             #
# TNS port that will be used to configure listener 			      #
# Default : 1521							      #	
#                                                                             #
###############################################################################
ORACLE_LISTENER_PORT=<%= node['oracle_xe']['listener_port'] %>

###############################################################################
#                                                                             #
# Passwords can be supplied for the following two schemas in the              #
# starter database:                                                           #
#   SYS                                                                       #
#   SYSTEM                                                                    #
#                                                                             #
###############################################################################
ORACLE_PASSWORD=<%= node['oracle_xe']['system_password'] %>

###############################################################################
#                                                                             #
# Passwords can be supplied for the following two schemas in the              #
# starter database:                                                           #
#   SYS                                                                       #
#   SYSTEM                                                                    #
#                           						      #
#   ORACLE_CONFIRM_PASSWORD should be same as ORACLE_PASSWORD                 #
#                           						      #
###############################################################################
ORACLE_CONFIRM_PASSWORD=<%= node['oracle_xe']['system_password'] %>

###############################################################################
#                                                                             #
# To start/stop listener and database instance up on system boot	      #	
#                                                                             #
###############################################################################
ORACLE_DBENABLE=<%= node['oracle_xe']['start_on_boot'] ? 'y' : 'n' %>
